.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 450px;
  background-color: var(--ghost-white);
  border: solid;
  border-width: 1px;

}

#project-card-img {
  object-fit:cover;
  width: 100%;
  height: auto;
}

.project-card-details {
  flex: 1;
  width: 100%;

}

.project-card-details > h2 {
  padding: 10px;
  border-top: solid;
  border-width: 1px;
}

.project-card-details > p {
  padding-left: 10px;
  padding-right: 10px;
}